body {  
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 100px;
    animation: gradientAnimation 3s infinite linear;
}

@keyframes gradientAnimation {
    0% {
        background: linear-gradient(180deg, rgba(204,204,255,1) 2%, rgba(182,156,238,1) 46%);
    }
    50% {
        background: linear-gradient(180deg, rgba(255,165,157,1) 2%, rgba(245,220,215,1) 46%);
    }
    100% {
        background: linear-gradient(180deg, rgba(204,204,255,1) 2%, rgba(182,156,238,1) 46%);
    }
}


header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#big_name {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 50px;
}

#G {
    margin: 0;
    font-size: 7em;
}

#i {
    margin: 0;    
    font-size: 8em;
}

#a {
    margin: 0;
    font-size: 9em;
}

header h3 {
    padding: 0;
    margin: 10px auto 10px;
}

#header_subtext {
    background-color: #ff935d;
}


#work_section {
    margin-top: 50px;
    border: 2px black;

}
.classwork {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255, 0.7);
    text-align: center;
    padding-left: 30px;
    border: 2px black;
}

ul {
    padding-left: 0;
}

ul li {
    list-style-type: none;
    text-align:center;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover {
    text-transform:lowercase;
}



@media only screen and (max-width: 600px) {

    #big_name {
        /* some element that will center the Gia*/
    }    

    #G {
        margin-left: 140px;
        font-size: 5.5em;
    }

    #i {
        margin: 0;
        font-size: 5.5em;
    }

    #a {
        margin: 0;
        font-size: 6.5em;
    }

    #header_subtext {
        background-color: transparent;
    }

    header h3 {
        padding: 0;
        margin: 5px auto;
        gap: 0;
        font-size: 1.3rem;
    }

    #work_section {
        margin: 20px 30px;
    }

    .classwork {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255, 0.7);
        text-align: center;
        padding-left: 0;
    }
    
   }

@media only screen and (min-width: 1000px)
{
    #cap-width {
        width: 960px;
		margin: auto;
    }
}