body {
    background-color: black;
    font-family: monospace;
    color: aqua;
    margin: 8em;
    justify-self: center;
}

#gamecontrol {
    justify-items: center;
    font-size: 30px;
    border: 2px solid white;
    padding: 5em 8em;
    background-image: url('images/dice-bg.png');
    background-size:contain;
    background-position: center;
}

button {
    background-color: yellow;
    padding: 1em 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#game {
    font-size: 20px;
}

img {
    display: block;
}