@font-face {
    font-family: 'stardew_valleyregular';
    src: url('../studio1/fonts/stardew_valley-webfont.woff2') format('woff2'),
         url('../studio1/fonts/stardew_valley-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.toggleMusic {
    width: 66px;
    height: 55px;
    position: absolute;
    left: 90%;
    top: 10%;
    cursor: pointer;
    z-index: 2;
}

.showing {
    display: block;
    visibility: visible;
    opacity: 1;
    position: absolute;
}

.hidden {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

body {
    font-family: "stardew_valleyregular", Arial, sans-serif;
    font-size: 1.7rem;
}

#stardew_madlibs {
    background-image: url('images/stardew_madlibs.png');
    background-size: cover;
    box-sizing: border-box; 
    width: 900px;
    height: 421px;
    justify-self: center;
    margin-top: 100px;
    margin-bottom: 500px;
    z-index: 1;
    position: relative;
}

#stardew_madlibs:hover {
    background-image: url('images/stardew_madlibs_hover.png');
    width: 900px;
    height: 421px;
}

#game_start {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-size: cover;
    background-image: url('images/startscreen.png');
}

.community-center {
    background-image: url('images/community-center.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.my-home {
    background-image: url('images/my-home.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

img {
    max-width: 100%;
    display: block;
}

.cloud-container {
    position: relative;
    width: 100%;
}

.cloud {
    position: absolute;
    z-index: -1;
}

@keyframes cloud-movement {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

#back-cloud {
    animation: cloud-movement 47s infinite ease-in-out;
    top: 300px;
    left: 75%;
}

#back-cloud2 {
    animation: cloud-movement 60s infinite ease-in-out;
    top: 100px;
    left: 10%;
}

#cloud-crowd {
    animation: cloud-movement 48s infinite ease-in-out;
    top: 220px;
    left: 20%;
}

#small-middle-cloud {
    animation: cloud-movement 25s infinite ease-in-out;
    top: 37px;
    left: 60%;
}

#top-cloud {
    animation: cloud-movement 30s infinite ease-in-out;
    top: 50px;
    left: 90%;
}
 
#cloud-crowd2 {
    animation: cloud-movement 38s infinite ease-in-out;
    top: 370px;
    left: 70%;
}
/* form.showing {
    position: absolute;
    top: 20vh;
    left: 30vw;
    background-image: url('images/questions_frame.png');
    width: 850px;
    height: 747px;
    background-size: cover;
    padding: 50px 50px 50px 100px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
} */

form.showing {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    max-width: 750px;
    height: 90vh;
    max-height: 700px;
    background-image: url('images/questions_frame.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

label {
    display: block;
    justify-self: center;
    margin-top: 50px;
}

#submit {
    width: 150px;
    height: 50px;
    display: block;
    margin: auto;
    background-color:bisque;
    border: 4px solid #6f3e14;;
}

button {
    width: 200px;
    height: 50px;
    display: block;
    margin: auto;
    background-color:bisque;
    border: 4px solid #6f3e14;;
}

#submit:hover {
    background-color: rgb(255, 250, 234);
    border-color: #ecdd39;
}

#mail {
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
    /* currently unable to get it to appear at the right time, display none is because it covers the text box and doesnt let users type */
}

.incoming_mail {
    animation: you-got-mail 4s infinite ease-in-out;
}
@keyframes you-got-mail {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(50%);
    }
}


#madLibs {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    max-width: 750px;
    height: 90vh;
    max-height: 700px;
    background-image: url('images/questions_frame.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 75px 65px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    font-size: 1.5rem;
}